* {
  font-family: Helvetica;
  font-size: 13px;
}

img {
  width: 55px;
}

ul {
  display: grid;
  grid-template-columns: 55px 235px;
  grid-column-gap: 10px;
}

li:last-child {
  border-right: 1px solid lightgrey;
}

li {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 5px 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}
