ul {
  display: grid;
  grid-auto-columns: min-content;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: auto; */
  /* grid-template: 1fr 1fr; */
  /* flex-direction: row; */
}

li {
  display: flex;
  color: black;
}
